@model TaskilyWeb.Models.Survey

@{
    ViewBag.Title = "Finish";
    Layout = "~/Views/Survey/_layoutNewWizard.cshtml";
    ViewBag.HelpContent = "taskily/new-survey/finish";

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    @Html.HiddenFor(m => m.ID)
            
    <div class="form-group">
        <div class="checkbox">
            <label class="radio inline control-label big-radio">
                @Html.CheckBoxFor(m => m.Active, new { @class = "input-lg" })
                Make it live
            </label>
        </div>
    </div>
            
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-lg btn-success" />
    </div>
}
