@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header {
    @RenderSection("Header", required: false)
}

<div class="container">
    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
